# This file is part of Opal Gallery.
# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-FileCopyrightText: 2020-2021 Mirian Margiani
[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-opal
Exec=harbour-opal
Name=Opal Gallery
# translation example:
# your app name in German locale (de)
#
# Remember to comment out the following line, if you do not want to use
# a different app name in German locale (de).
Name[en]=Opal Gallery
Name[de]=Opal-Galerie
